/*

-----------------------------
CSS styles reset and globals
-----------------------------

This section resets the box model to border box and also sets global variables for colors. The variables are used throughout the site to make it easier to change the color scheme. 

*/

* {
  box-sizing: border-box;
  --primary-color: #333;
  --secondary-color: #ccc;
  --tertiary-color: #27bfe5;
  --light-color: #f4f4f4;
  --dark-color: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* 

---------------------
Header section styles 
---------------------

*/
header {
  background-color: #333;
  /* maybe change this to grid? */
  display: flex;
  width: 100%;
}

h1 {
  background-color: var(--tertiary-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  padding: 0rem 1rem 0rem 3rem;
  font-size: 3rem;
}

/* nav {

} */

header ul {
  list-style: none;
  padding: 0;

  /* Below is a temporary hack to move the nav to the further right of the h1 element */
  margin-left: 2rem;

  /* width: 100%; */
  /* justify-content: flex-end; */
  /* display: inline-block; */
  /* justify the text to the right */
}

header li {
  display: inline-block;
  /* padding: 0.5rem; */
}

header li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 2px solid var(--tertiary-color);
}

header li a:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  /* This adds a short transition when a user hovers over a link to change the background color and text color. */
  transition: all 0.5s;
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.hero-heading-wrapper {
  /* position this element in the bottom right corner of its parent div */
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-heading-wrapper h2 {
  background-color: var(--tertiary-color);
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  align-self: flex-end;
  margin-left: auto;
}

/* 

---------------------
Main section styles 
---------------------

*/

main {
  padding: 1rem;
}

main h2 {
  color: var(--primary-color);
  border-right: 0.25rem solid var(--primary-color);
  padding-right: 1rem;
  display: inline;
  font-size: 4rem;
  /* justify the text to the right */
  text-align: right;
}

.page-section {
  /* width: 100vw; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1rem;
}

/* experimentation area */

/* #about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "about-heading about-card";
}

.about-heading {
  grid-area: about-heading;
}

.about-card {
  grid-area: about-card;
}

#work {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "work-heading work-card";
}

.work-heading {
  grid-area: work-heading;
}

.work-card {
  grid-area: work-card;
} */

/* end of experimentation area */

p {
  display: inline;
  padding: 0.5rem;
  /* width: 75%; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 175px);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  grid-template-areas:
    "portfolio-one portfolio-one"
    "portfolio-one portfolio-one"
    "portfolio-two portfolio-three"
    "portfolio-four portfolio-five";
}

.grid-item {
  background-color: #f4f4f4;
  /* padding: 0.5rem; */
  text-align: center;
  border: 4px solid #27bfe5;
  display: flex;
  position: relative;
}

.grid-item a {
  text-decoration: none;
  color: var(--primary-color);
}

.clickable-card::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  content: " ";
  background-color: rgba(255, 255, 255, 0.2);
}

.clickable-card:hover::after {
  background-color: rgba(255, 255, 255, 0);
}

.portfolio-item-description {
  background-color: var(--tertiary-color);
  padding: 0.5rem;
  align-self: flex-end;
  margin-right: auto;
  margin-bottom: 0.5rem;
  z-index: 3;
}

#portfolio-01 {
  grid-area: portfolio-one;
  background-image: url("../images/02-portfolio-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio-02 {
  grid-area: portfolio-two;
  background-image: url("../images/02-portfolio-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio-03 {
  grid-area: portfolio-three;
  background-image: url("../images/02-portfolio-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio-04 {
  grid-area: portfolio-four;
  background-image: url("../images/02-portfolio-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio-05 {
  grid-area: portfolio-five;
  background-image: url("../images/02-portfolio-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.contact li {
  display: inline-block;
  padding: 0.5rem;
  justify-content: space-between;
}

.contact li a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 2px solid var(--primary-color);
}

.contact li a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/*

---------------------
Media queries
---------------------

*/

@media screen and (max-width: 1024px) {
  main h2 {
    color: var(--primary-color);
    border-bottom: 0.25rem solid var(--primary-color);
    border-right: none;
    display: inline;
    font-size: 4rem;
    text-align: left;
  }
  .page-section {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 175px);
    grid-template-areas:
      "portfolio-one portfolio-one"
      "portfolio-two portfolio-three"
      "portfolio-four portfolio-five";
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 175px);
    grid-template-areas:
      "portfolio-one"
      "portfolio-two"
      "portfolio-three"
      "portfolio-four"
      "portfolio-five";
  }
  /* #portfolio-01,
  #portfolio-02,
  #portfolio-03,
  #portfolio-04,
  #portfolio-05 {
    grid-area: auto;
  } */
}
